In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df= pd.read_csv("train (1).csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df=df.drop(columns='Cabin', axis=1)

In [5]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [6]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [7]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

## Encode categorical columns to numeric

In [8]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [9]:
df=df.replace({'Sex':{'male':0,'female':1}})

In [10]:
df['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [11]:
df=df.replace({'Embarked':{'S':0,'C':1,'Q':2}})

In [12]:
 df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.25,0

In [13]:
df.drop(['Name','Ticket','Embarked'],axis=1, inplace=True)

In [14]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    0  35.0      0      0   8.0500

## separate dependent variable (y) and independent variable (x)

In [15]:
x=df[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare']]
y =df['Survived']

In [16]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [17]:
x

     PassengerId  Pclass  Sex        Age  SibSp  Parch     Fare
0              1       3    0  22.000000      1      0   7.2500
1              2       1    1  38.000000      1      0  71.2833
2              3       3    1  26.000000      0      0   7.9250
3              4       1    1  35.000000      1      0  53.1000
4              5       3    0  35.000000      0      0   8.0500
..           ...     ...  ...        ...    ...    ...      ...
886          887       2    0  27.000000      0      0  13.0000
887          888       1    1  19.000000      0      0  30.0000
888          889       3    1  29.699118      1      2  23.4500
889          890       1    0  26.000000      0      0  30.0000
890          891       3    0  32.000000      0      0   7.7500

[891 rows x 7 columns]

### Data Modelling
#### Build a model using Logistic REgression

In [18]:
#train test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [19]:
#import logistic regression
from sklearn.linear_model import LogisticRegression

In [20]:
#fit LG
lr= LogisticRegression()
lr.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
#predict
predict= lr.predict(x_test)

### Testing
se how the model is performing

In [22]:
#print confusion matrix
from sklearn.metrics import confusion_matrix

In [23]:
confusion_matrix(y_test,predict)

array([[155,  20],
       [ 35,  85]], dtype=int64)

In [24]:
pd.DataFrame(confusion_matrix(y_test,predict),columns=['predicted No','predicted Yes'], index=['Actual no','Actual yes'])

            predicted No  predicted Yes
Actual no            155             20
Actual yes            35             85

In [25]:
#import classification report
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85       175
           1       0.81      0.71      0.76       120

    accuracy                           0.81       295
   macro avg       0.81      0.80      0.80       295
weighted avg       0.81      0.81      0.81       295

- precision is the ratio of correctly predicted positive observations to total predicted observations.It measures how many of the predicted positive cases were actually correct.
- Recall is the ratio of correctly predicted positive observations in actual class.It measures how many actual positive cases were correctly predicted.
- f1-score is the weighted average of precision and recall.It balances both metrics to provide a single performance measure.
- Support: The number of actual instances in each class in the test set.